@font-face {
    font-family: 'norsebold';
    src: url('norse-bold-webfont.woff2') format('woff2'),
         url('norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

html,body {
   margin: 0;
   padding: 0;
}

body {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    max-height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y:hidden ;
}

#image {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    max-height: 100vh;
    border: 0px;
    background: url(background-image-leaf.avif);
    min-width: 33%;
    overflow-x: hidden;
}


 #source, #banner {
    position: relative;
 }

#source {
    align-self: center;
}

#banner {
    top:200px;
    font-family: "norsebold";
    color: white;
    font-size: 45px;
    background-color: rgba(0,0,0,.4);
    height: 150px;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
}

#odin_img {
    max-height: 125px;
    max-width: 95px;
}

#source, a#source-link, a#source-link:visited, a#source-link:active, a#source-link:hover {
    color: white;
}

#source {
    text-wrap: nowrap;
}

#top {
    height: 35%;
    background-color: rgb(241, 241, 241);
    padding: 0;
    align-content:flex-end;
    width: 100vw;
}

.top_text {
    font-size: 24px;
    font-weight: bold;
    inline-size: 740px;
    padding-left: 45px;
}

#hook {
    padding-bottom: 50px;
}

#middle {
    min-height: 30%;
    padding-bottom: 5px;
}

form { 
    display: flex;
    flex-direction: column;
    gap:20px;
}

.input-pair {
    display: flex;
    flex-direction: column;
    gap:5px;
}

.form-row {
    display: flex;
    gap:75px ;
    margin-left: 45px;
}

input {
    width:250px;
    height: 20px;
    border-radius: 3px;
    border:1px solid #E5E7EB ;
    outline: none;
}

input:focus {
    border-color: blue;
}

input.password-pair[type=password]:invalid {
    border-color: red; 
}  

label {
    font-family: 'Montserrat';
    font-size: 10px;
    letter-spacing: .1rem;
    color: rgb(29, 46, 59);
}

h2 {
    padding-left: 45px;
    font-weight: 600;
    color: rgb(29, 46, 59);
}

#bottom {
    min-height: 35%;
}


#shadow {
background: linear-gradient(to top, #fbfefb 0%, #ccc5c2 100% );
height: 10px;
}

button {
    margin-top: 15px;
    width: 250px;
    height: 50px;
    border-radius: 7px;
    color: white;
    background-color: #596D48;
    font: 22px bold;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
}

.bottom-text {
    padding-left: 45px;
    padding-bottom: 20px;
}

#login {
    font-weight: 600;
    font-size: 18px;
}

a#login-link, a#login-link:visited, a#login-link:active, a#login-link:hover {
    color: #596D48;
    text-decoration: none;
}

#sign-in {
    font-weight: bold;
}

#login-right {
    padding-left: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 300px;
    background-color: #e7e7e7;
    width: 100vw;

}

#create-account {
    font-size: 16px;
    margin: 15px 0px 0px 0px;
    font-weight: bold;
}

#login-button {
    height: 35px;
    font: 18px bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
}

a#sign-up-link, a#sign-up-link:visited, a#sign-up-link:active, a#sign-up-link:hover {
    color: #596D48;
    text-decoration: none;
}