@font-face {
    font-family: 'norsebold';
    src: url('fonts/norse-bold-webfont.woff2') format('woff2'),
         url('fonts/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}


body {
    display: flex;
    margin: 0;
}

#image {
    display: flex;
    justify-content: center;
    position: relative;
    height: 100vh;
}

 #source, #banner {
    position: absolute;
 }

#source {
    bottom: 10px;
}

#banner {
    top:200px;
    font-family: "norsebold";
    color: white;
    font-size: 45px;
    background-color: rgba(0,0,0,.4);
    height: 140px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#odin_img {
    height: 125px;
    width: 95px;
}

#source, a, a:visited, a:active, a:hover {
    color: white;
}

#content {
   display: flex;
   flex-direction: column;
}

#top {
    min-height: 35%;
    margin: 150px 550px 0px 40px ;
}

.top_text {
    font-size: 25px;
    font-weight: bold;
}


form { 
    display: flex;
    flex-direction: column;
    gap:20px;
}

.input-pair {
    display: flex;
    flex-direction: column;
    gap:5px;
}

.form-row {
    display: flex;
    gap:75px ;
    margin-left: 40px;
}

input {
    width:250px;
    height: 20px;
    border-radius: 3px;
    border:1px solid #E5E7EB ;
    outline: none;
}

input:focus {
    border-color: blue;
}

input[type=password]:invalid {
    border-color: red; 
}  

label {
    font-family: 'Montserrat';
    font-size: 10px;
    letter-spacing: .1rem;
}